body {
    margin: 0;
    padding: 0;
    
    font-family: 'Montserrat', sans-serif;
    color: #172B4D;
}

.screen {
    display: none;

    margin: 0;
    padding: 0;

    max-height: 100vh;
    height: 100vh;
    max-width: 100vw;
    width: 100vw;
}
.active {
    display: block;
}
.hidden {
    display: none;
}

canvas {
    position: absolute;
    grid-area: center;
}

@media only screen and (min-width: 700px) {
    /*Phone-screen "emulator" for non-mobile devices*/
    .screen {
        border: 2px solid #000000;
        margin: 25px 25px;
        max-width: 47.5vh;
        width: 190px;/* calc((100vh - 50px)*(0.48)) */
        max-height: 100vh;
        height: 386.5px; /* calc(100vh - 4px - 50px) Subtract border outline and margin*/
    }
}
